body {
    margin-top: 60px;
}

.container {
    background-color: #DCDCDC;
}

#list,
.blockquote,
.h6 {
    margin-left: 160px;
    width: 65%;
}

footer {
    .container {
        background-color: #fff;
    }
}